
<div>
  <h1>99 Bottles of beer</h1>
  <%=raw @beer %>
</div>




<%#
One-hundred bottles of beer on the wall,
One-hundred bottles of beer!
Take one down,
Pass it around,
Ninety-nine bottles of beer on the wall!

Ninety-nine bottles of beer on the wall,
Ninety-nine bottles of beer!
Take one down,
Pass it around,
Ninety-eight bottles of beer on the wall! %>
